body {
    background-color: #141414;
    font-family: serif;
    color: #f7f7f7;
    width: 96%;
    margin: auto;
    padding-bottom: 20px;
}

h2 {
    color: #ff6600;
    font-variant: small-caps;
}

h3 {
    color: #ff9500;
    font-family: monospace;
}

hr {
    border: 0;
    border-top: 1px dashed #ff6600;
}

a:link, a:visited {
    color: #ffc97d;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    text-decoration: underline;
}

.fa-fw {
    margin: 4px 0;
    margin-right: 3px;
}

.paper-year-list {
    list-style: none;
}

.paper-year-list > li {
    padding-top: 25px;
}

.paper-year-list > li:first-child {
    border: none;
    margin-top: 0;
    padding-top: 0;
}

.paper-publication-list {
    list-style: none;
    padding-left: 0;
}

.paper-publication-list > li > ul {
    /* Repro. Package / Supplementary Material */
    list-style: none;
}

.paper-publication-list > li > ul > li:before {
    content: "\2022"; /* Circle */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.paper-publication-list > li:first-child {
    /* Title */
    margin-bottom: 0.6em;
}

.title {
    position: relative;
    padding-left: 20px;
    padding-right: 0;
    margin: 0 0;
}

.title:before {
    content: "";
    z-index: -1;
    left: 0;
    top: -0.4em;
    border-width: 1em;
    border-style: solid;
    border-color: #444444;
    position: absolute;
    width: calc(100% - 2em);
    border-left-color: transparent;
}

.title:after {
    content: "";
    z-index: -1;
    right: 0.67em;
    top: -0.4em;
    border-width: 1em;
    border-style: solid;
    border-color: #444444;
    position: absolute;
    border-left-color: transparent;
    transform: rotate(180deg);
    transform-origin: center right;
}

.teaching-container {
    width: fit-content;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td:nth-child(1) {
    width: 130px;
}

table td:first-child {
    padding-left: 5px;
}

table td:last-child {
    padding-right: 5px;
}

table tr {
    margin-left: 5px;
}

.table-color tr:nth-child(odd) {
    background: rgb(45, 45, 45);
}


